:root {
    --x: 9;
    --y: 9;
    --max-w: 32px;
    --min-w: 16px;
}
body {
    margin: 0;
    padding: 0;
}

div.init *,
input,
div.init button {
    font-size: calc(10px + 1vmin);
}

div.init {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 auto;
    width: 100%;
}
input#mines {
    width: 4em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(var(--x), 1fr);
    grid-template-rows: repeat(var(--y), 1fr);
    justify-content: stretch;
    width: 90vmin;
    max-width: calc(var(--max-w) * var(--x));
    min-width: calc(var(--min-w) * var(--x));
    margin: 5px auto;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > button {
    color: #333;
    border: none;
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: var(--max-w);
    min-width: var(--min-w);
    margin: 0;
    padding: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
}
.grid > .digit0 {
    background-image: url(img/type0.svg);
}
.grid > .digit1 {
    background-image: url(img/type1.svg);
}
.grid > .digit2 {
    background-image: url(img/type2.svg);
}
.grid > .digit3 {
    background-image: url(img/type3.svg);
}
.grid > .digit4 {
    background-image: url(img/type4.svg);
}
.grid > .digit5 {
    background-image: url(img/type5.svg);
}
.grid > .digit6 {
    background-image: url(img/type6.svg);
}
.grid > .digit7 {
    background-image: url(img/type7.svg);
}
.grid > .digit8 {
    background-image: url(img/type8.svg);
}
.grid > .mine {
    background-image: url(img/mine.svg);
}

.grid > .flag {
    background-image: url(img/flag.svg);
}
.grid > .mine-wrong {
    background-image: url(img/mine_wrong.svg);
}
.grid > .mine-explosion {
    background-image: url(img/mine_red.svg);
}

.grid > .closed {
    background-image: url(img/closed.svg);
}
.grid > .pressed {
    background-image: url(img/type0.svg);
}
