.formInitGameSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 4px 0 15px 0;
    width: 100%;
}
.formInitGameSettings label,
.fieldColumnsCount,
.fieldRowsCount,
.fieldMinesCount,
.buttonStartGame {
    font-size: calc(10px + 0.8vmin);
    margin: 0 0.3em;
    font-weight: normal;
    color: #404040;
    border-width: 1px;
}

.fieldColumnsCount,
.fieldRowsCount,
.fieldMinesCount {
    width: 3em;
}

.fieldMinesCount {
    width: 4em;
}
