.App {
    text-align: center;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: calc(10px + 1vmin);
    font-family: 'Roboto', sans-serif;
}
.message {
    line-height: 100%;
    margin-bottom: 5px;
}
.messageFlags, .messageWin, .messageLose {
    font-weight: bold;
}
.messageFlagsZero {
    color:#c82500;
}
.messageFlags {
    font-weight: bold;
}
.messageWin {
    color: #e76346;
    margin-left: 10px;
}
.messageLose {
    color: #a01d00;
    margin-left: 10px;
}
